@import "variables";
@import "mixins";

@import "normalize";
@import "layout";

/* Fonts */
@import "glyphter";

/* Components */
// @import "components/form_field";

/* Sections */
// @import "section/registration_form";

/* Pages / Views */
// @import "pages/registration";

@mixin button-class {
	display: inline-block;
	border-radius: 4px;
	padding: 5px 10px;
	border: 1px solid darkorange;
}



.button {
	@include button-class;
	;
}

.button--orange {
	@include button-class;
	background-color: darkorange;
	color: white;
	margin: 20px;
	cursor: pointer;

	&:hover {
		background-color: orange;
	}
}

.button-space {
	width: 100%;
	display: flex;
	justify-content: center;
}

body {
	font-family: $paragraph-font;
	background: #ccc;
}

main {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 220px;
	right: 0px;
	background: #ccc;
	padding: 10px;
	overflow: auto;
}

.stats,
.links {
	background: #fff;
}


/*** NAV - SIDEBAR ***/

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	background: #000;
	color: #aaa;
}

.sidebar__top-part {
	display: flex;
	justify-content: space-between;
}

.sidebar__logo {
	padding: 10px;
	font-size: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar__hamburger {
	padding: 10px;
	color: #ccc;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar__nav-link {
	padding: 10px;
	font-size: 14px;
	font-weight: 100;
	border-left: 5px solid #000;

	&:hover {
		border-left: 5px solid orange;
		background: #555;
		color: #fff;
	}
}

.sidebar__nav-link>i {
	padding-right: 10px;
}

.sidebar__footer {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding: 20px 10px;
}

.sidebar__footer-title {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 900;
}

.sidebar__footer-person {
	padding: 10px 0;
	display: flex;
	align-items: center;
	position: relative;
}

.sidebar__footer-person-image {
	border-radius: 50%;
	position: absolute;
	top: 10px;
}

.sidebar__footer-person-dot {
	position: absolute;
	top: 10px;
	left: 30px;
	width: 10px;
	height: 10px;
	background: green;
	border-radius: 50%;
}

.sidebar__footer-person-name {
	position: absolute;
	left: 50px;
	top: 25px;
	padding: 0 10px;
	font-size: 12px;

}


/*** TOPBAR ***/

.topbar {
	position: fixed;
	top: 0;
	left: 200px;
	right: 0;
	height: 60px;
	background: #eee;
	display: flex;
	justify-content: flex-end;
	color: #555;
	border: 1px solid #999;
}

.topbar__field {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 20px;
	border-left: 1px solid #999;
	cursor: pointer;

	i {
		padding: 0 5px;
	}

	&:hover {
		background: #ddd;
	}
}

.topbar--in-sidebar {
	display: none;
}




/*** STATS ***/

.stats {
	position: relative;
}

.stats__title-space {
	margin-bottom: 20px;
}

.stats__title-space:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	content: " ";
	display: block;
	border-bottom: 1px solid #999;
}

.stats__title {
	text-transform: uppercase;
	color: #777;
	font-size: 14px;
	font-weight: 900;
}

.stats__date-selection {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.stats__date-selection:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 140px;
	content: " ";
	display: block;
	border-bottom: 1px solid #999;
}

.stats__date-selection-window {
	display: flex;
	justify-content: space-between;
	width: 400px;
	padding: 5px 20px;
	border: 1px solid #999;
	border-radius: 4px;
}

[class^="stats__date--"] {
	padding: 5px 20px;
}

.stats__date--end {
	border-left: 1px solid #999;
}


.stats__refresh-icon {
	margin: 0 10px;
	padding: 10px;
}

/*** STATS -> CALENDAR-ICON ***/

[class^=calendar-icon__button] {
	border-bottom: 1px solid #777;
}

.calendar-icon {
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.calendar-icon__row {
	display: flex;
}

.calendar-icon__button--big {
	width: 17px;
	height: 4px;
	border: 1px solid #777;
}

.calendar-icon__button {
	width: 5px;
	height: 3px;
	margin: 1px 1px 0 0;
}

/*** STATS__TABLE ***/

.stats__table {
	display: flex;
	justify-content: space-between;
}

.stats__column {
	width: 45%;
}

.stats__row {
	border-bottom: 1px solid grey;
	display: flex;
	justify-content: space-between;
	padding: 2px;
}

/*** STATS__CHART ***/

.stats__chart {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats__chart-title {
	font-weight: 900;
	color: #555;
	padding: 20px 0;
	align-self: flex-start;
}

/*** LINKS ***/

.links__row {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	transition: 0.2s;

	&:hover {
		background: #ccc;

		.links__right-column {
			opacity: 1;
		}
	}

	>span {
		padding: 10px;
	}
}



.links__left-column {
	width: 400px;
	font-weight: 600;
}

.links__middle-column {
	width: calc(100% - 200px);
}

.links__links {
	text-decoration: none;
	color: #000;
}

.links__right-column {
	width: 100px;
	display: flex;
	justify-content: space-around;
	opacity: 0;
	transition: 0.2s;

	>span {
		cursor: pointer;
	}
}

.links__icon-links {
	color: orange;
}

.links__icon-trash {
	color: #444;
}




@media(max-width: 767px) {
	.topbar {
		display: none;
	}

	main {
		top: 0;
		left: 0;
	}

	.sidebar {
		z-index: 1;
		left: -200px;
		top:0;
		bottom: 0;
		transition: all 1s;
	}

	.sidebar__hamburger {
		display: block;
		position: absolute;
		left: 200px;
		color: #000;
		transition: all 1s;
	}

	.topbar--in-sidebar {
		display: flex;
		flex-direction: column;
		height: auto;
		position: relative;
		background: #000;
		color: #aaa;
		left:0;
		bottom: 0;
		margin-top: 40px;
		border: none;
	}

	.sidebar__nav-link {
		padding: 5px;
	}

	.topbar__field--in-sidebar {
		border-top: 1px solid #555;
		border-left: none;
		padding: 10px;
		
		&:hover {
		background: #555;
		}

		&:last-of-type {
			border-bottom: 1px solid #555;
		}
	}

	// checkbox hack for CSS-only click event simulation on navbar

	#btnControl {
		display: none;
	}

	#btnControl:checked+label>.sidebar {
		left: 0;
	}
}
